.Homepage {
  .categoryHeading {
    font-size: 30px;
    padding-left: 20px;
    color: #d71f8b;
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .categoryList {
    display: flex;
    padding-right: 20px;

    .cardImg {
      cursor: pointer;
    }
  }
}
